body {
    padding: 20px;
    color: black;
    background-color: gray;
}

header {
    text-align: center;
    border: 1px solid black;
}

header li {
    display: inline-block;
    list-style: none;
}

.first-question {
    text-align: center;
    margin: 20px;
    border: 1px solid black;
}

.question-template {
    text-align: center;
    margin: 20px;
    border: 1px solid black;
}
